.chat-main
  .chat-main__group-info
    .chat-main__group-info__name
      = @group.name
      .chat-main__group-info__name__sub
        member:
        - @group.users.each do |user|
          = user.name
    .chat-main__group-info__edit
      = link_to edit_group_path(@group) do
        Edit

  .chat-list
    = render @messages

  .footer
    = form_with model: [@group, @message], html: {class: "Form"}, local: true do |f|
      .footer__message-form
        = f.text_field :content, class: 'footer__inputContent', placeholder: 'type a message'
        = f.label :image, class: 'footer__inputImage' do
          = icon('far', 'image', class: 'footer__icon')
          = f.file_field :image, class: 'Hidden'
      = f.submit 'Send', class: 'footer__submit'
